---
---
<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src="/logo-small.svg" alt="small socodia logo" height="40" width="40"/>
</span>
